.container{
    background-color: aliceblue;
}
div{
    height: 100px;
    width: 100px;
}
.first{
    background-color: black;
    color: cornsilk;
}
.second{
    background-color: brown;
}
.third{
    background-color: chartreuse;
}
.forth{
    background: rgb(106, 67, 151);
}